apiAvatarComDjango/avatar/db.sqlite3
apiAvatarComDjango/avatar/avatar/.env
apiAvatarComDjango/avatar/avatar/__pycache__/__init__.cpython-311.pyc
apiAvatarComDjango/avatar/avatar/__pycache__/settings.cpython-311.pyc
apiAvatarComDjango/avatar/avatar/__pycache__/urls.cpython-311.pyc
apiAvatarComDjango/avatar/avatar/__pycache__/wsgi.cpython-311.pyc
apiAvatarComDjango/avatar/app/migrations/__pycache__/0001_initial.cpython-311.pyc
apiAvatarComDjango/avatar/app/migrations/__pycache__/__init__.cpython-311.pyc
apiAvatarComDjango/avatar/app/__pycache__/views.cpython-311.pyc
apiAvatarComDjango/avatar/app/__pycache__/urls.cpython-311.pyc
apiAvatarComDjango/avatar/app/__pycache__/models.cpython-311.pyc
apiAvatarComDjango/avatar/app/__pycache__/apps.cpython-311.pyc
apiAvatarComDjango/avatar/app/__pycache__/admin.cpython-311.pyc
apiAvatarComDjango/avatar/app/migrations/__init__.py
apiAvatarComDjango/avatar/app/migrations/0001_initial.py
apiAvatarComDjango/avatar/app/__pycache__/__init__.cpython-311.pyc
apiAvatarComDjango/avatar/app/__init__.py
apiAvatarComDjango/avatar/avatar/__init__.py
